h1 {
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 56px;
    color: #000000;
    margin: 0.5%;
    margin-top: 1%;
}
h3 {
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 28px;
    color: #000000;
    margin: 0.5%;
}
a {
    text-decoration: none;
    color: #000000;
}
img {
    display: block;
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
    height: 256px;
    width: 256px;
}
