body {
    background-image: url('../images/background.png');
    background-size: 100%;
    background-attachment: fixed;
}
h1 {
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 65px;
    font-weight: bolder;
    color: #FFFFFF;
    margin: 0.5%;
    margin-top: 1%;
}
h2 {
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 45px;
    font-weight: bold;
    color: #FFFFFF;
}
h3 {
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 25px;
    font-weight: 500;
    color: #FFFFFF;
    margin: 0.5%;
    padding-left: 10%;
    padding-right: 10%;
}
img {
    display: block;
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
    height: 256px;
    width: 256px;
}
