@import "font.css";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
div#everything {
  opacity: 0;
}
div#loading {
  background-color: black;
}
div#loading, div#particles {
  width: 100%;
  height: 100%;
  position: fixed;
}
#toggleslider, #toggleslider::before {
  transition: 0.3s ease-in-out;
}
#toggleswitch, #toggleslider, #toggleslider::before {
  position: absolute;
}
#toggleswitch, #toggleslider::before {
  height: 3.5vmin;
}
#toggleswitch {
  top: 1vmin;
  left: 1vmin;
  width: 6vmin;
}
#toggleslider {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: red;
  border-radius: 3.5vmin;
}
#toggleslider::before {
  content: "";
  top: 0.3vmin;
  left: 0.3vmin;
  height: 2.9vmin;
  width: 2.9vmin;
  background-color: white;
  border-radius: 50%;
}
#toggleswitch input {
  opacity: 0;
  width: 0;
  height: 0;
}
#toggleswitch input:checked + #toggleslider {
  background-color: green;
}
#toggleswitch input:checked + #toggleslider::before {
  transform: translateX(2.45vmin);
}
#toggleswitch, div#toggletext, div#fixbox, div#fixtext {
  display: none;
  opacity: 0;
}
div#toggletext, div#fixtext {
  position: absolute;
  left: 8vmin;
  font-family: Selawik;
  font-weight: bolder;
  font-size: 2.5vmin;
  color: white;
}
div#toggletext {
  top: 0.8vmin;
}
div#fixbox {
  position: absolute;
  top: 5vmin;
  left: 1vmin;
  width: 6vmin;
  height: 3.5vmin;
  cursor: pointer;
  background-color: orange;
  border-radius: 3.5vmin;
}
div#fixtext {
  top: 4.9vmin;
}
div#loadingtext, #loadingimage, .firsttitles, div#firstdescription, div#secondtitle, div#seconddescription, div#thirdtitle, div#thirddescription, div#fourthtitle, div#fourthdescription, div#footer, div#footertext {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
  font-family: Selawik;
  font-weight: bolder;
  text-align: center;
  color: white;
}
div#loadingtext {
  top: 45%;
}
#loadingimage {
  top: 55%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 9vmin;
  height: 9vmin;
}
div#loadingtext, .firsttitles, div#secondtitle, div#thirdtitle, div#fourthtitle {
  font-size: 7vmin;
}
div#firstdescription, div#seconddescription, div#thirddescription, div#fourthdescription {
  font-size: 3.5vmin;
}
.firsttitles {
  top: 50%;
  width: auto;
  padding-right: 0.45vmin;
  border-right: 0.45vmin solid;
}
div#backupfirsttitle {
  opacity: 0;
  padding-right: 0.9vmin;
  border-right: 0 solid;
}
div#firstdescription {
  top: 59%;
}
div#secondtitle {
  top: 150%;
}
div#seconddescription {
  top: 161%;
}
div#thirdtitle {
  top: 250%;
}
div#thirddescription {
  top: 263%;
}
div#fourthtitle {
  top: 350%;
}
div#fourthdescription {
  width: auto;
  top: 363%;
}
div#github:hover {
  color: #bababa;
}
div#youtube:hover {
  color: red;
}
div#discord:hover {
  color: #7289da;
}
div#footer {
  width: 100%;
  height: 10%;
  top: 405%;
  background-color: yellow;
}
div#footertext {
  top: 50%; /* idk either */
  font-size: 3vmin;
  color: black;
}
