@keyframes fadeIn {
  from {background-color:black;}
  to {background-color:#00c5ff;}
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
div#particles, div#firstbox, div#secondbox, div#thirdbox, div#fourthbox {
  width: 100%;
  height: 100%;
}
div#particles {
    position: fixed;
}
div#firstbox {
  background-color: black;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 8.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  /* css animations the easy way */
}
div#secondbox {
  background-color: purple;
}
div#thirdbox {
  background-color: red;
}
div#fourthbox {
  background-color: orange;
}
div#fifthbox {
  width: 100%;
  height: 10%;
  background-color: yellow;
}
div#firsttitle, div#firstdescription, div#secondtitle, div#seconddescription, div#thirdtitle, div#thirddescription, div#fourthtitle, div#fourthdescription, div#fifthtitle {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Selawik;
  font-weight: bolder;
  color: white;
}
div#firsttitle, div#secondtitle, div#thirdtitle, div#fourthtitle {
  font-size: 65px;
}
div#seconddescription, div#thirddescription, div#fourthdescription {
  font-size: 30px;
  text-align: center;
}
div#firsttitle {
  top: 50%;
  padding-right: 5px;
  border-right: 5px solid;
}
div#firstdescription {
  top: 58%;
  font-size: 30px;
}
div#secondtitle {
  top: 150%;
}
div#seconddescription {
  top: 158%;
}
div#thirdtitle {
  top: 250%;
}
div#thirddescription {
  top: 258%;
}
div#fourthtitle {
  top: 350%;
}
div#fourthdescription {
  top: 358%;
}
div#github:hover {
  color: #bababa;
}
div#youtube:hover {
  color: red;
}
div#twitter:hover {
  color: #00C5FF;
}
div#twitch:hover {
  color: purple;
}
div#discord:hover {
  color: #7289da;
}
div#fifthtitle {
  top: 405%;
  font-size: 27px;
  color: black;
}
